.new-background-color {
    --background: purple;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid purple;
}

ion-icon {
    color: purple;
}

ion-icon {
    font-size: 25px;
}