<ion-header class="ion-no-border">
    <ion-toolbar color="">
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/account']">
                <ion-avatar slot="start" class="avatar">
                    <img src="./assets/logo.png">
                </ion-avatar>
                <ion-label style="padding: 5px;">User Name</ion-label>
            </ion-button>
        </ion-buttons>
        <!-- <ion-title class="headerImg">
            <img src="./assets/img/homekit.png">
        </ion-title> -->



        <ion-buttons slot="end">
            <ion-button (click)="openNotification()">
                <ion-icon name="notifications-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="doLogout()">
                <ion-icon name="power-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Quick Links</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-icon name="scan-outline" [routerLink]="['/tabs/scan-document']"></ion-icon><br>
                        <ion-label>Scan</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="newspaper-outline" [routerLink]="['/tabs/news-feed']"></ion-icon><br>
                        <ion-label>News Feed</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="bag-add-outline" [routerLink]="['/tabs/appliance']"></ion-icon><br>
                        <ion-label>Appliance</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="apps-outline"></ion-icon><br>
                        <ion-label>More</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-content>
            <ion-slides>
                <ion-slide *ngFor="let slideData of slidersArray">

                    <img style="height: 120px;" src={{slideData.imgSrc}} /><br>
                    <strong>{{slideData.header}}</strong>
                    <p>{{slideData.content}}</p>

                </ion-slide>


            </ion-slides>
        </ion-card-content>
    </ion-card>
</ion-content>