<ion-header>
    <ion-toolbar size="small">
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/tabs/home']">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Appliance</ion-title>

        <ion-buttons slot="end">

            <ion-button>
                <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>